*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    /* background-color: red;f */
}

.box{
    margin: 50px auto;
    border: 1px solid black;
    width: 500px;
    padding: 30px;
    border-radius: 10px;
}